.full
{
    height: 100vh;
}
.ana
{
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    width: 100%;
}
body
{
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    background:#787e85;
}
.container
{
    position: relative;
    background:#2f363e;
    border-radius:20px;
    flex-direction: column;
    border-top-left-radius:225px ;
    border-top-right-radius:225px ;
    box-shadow:10px 50px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(0,0,0,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.clock
{
    position: relative;
    width:450px;
    height:450px;
    background:#2f363e;
    border-width:10px;
   border-color: black;
    border-radius:50%;
    box-shadow:10px 50px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(0,0,0,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    display:flex;
    align-items: center;
    justify-content: center;
}
.clock::before
{
    content:' ';
    position:absolute;
    width:8px;
    height:8px;
    background:#000;
    border:3px solid #000;
    border-radius:50%;
}
.clock span{
    position: absolute;
    inset: 20px;
    color: #fff;
    text-align: center;
    transform: rotate(calc(30deg*var(--i)));
}
.clock span b{
    font-size: 2em;
    opacity: 0.5;
    font-weight: 100;
    display: inline-block;
    transform: rotate(calc(-30deg*var(--i)));
}
.circle
{
 position: absolute;
 width: 300px;
 height: 300px; 
 border: 2px solid black;
 display:flex;
 justify-content:center;
 align-items: flex-start;  
 border-radius: 50%;
}
.circle i
{
    position: absolute;
    width: 7px;
    height:50%;
    background:var(--clr);
}
.circle2
{
 width: 250px;
 height: 250px; 
 
}
.circle3
{
 width: 200px;
 height: 200px; 
 
}
.arrow
{
    font-size: 70px;
    font-weight:bold;
    color: black;
    position: absolute;
    display: flex;
    align-items: flex-start;
    top: -20px;
}
.dig
{
    display: flex;
    padding: 10px 20px ;
    font-size:2em;
    font-weight:600;
    border:2px solid black;
    border-radius: 40px;    
    box-shadow:10px 50px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(0,0,0,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    margin-bottom:20px;
    margin-top:20px;
}
.dig div
{
    width: 60px;
    position: relative;
    text-align: center;
    font-weight:500px;
    color: rgb(142, 250, 227);
}
.dig div:nth-child(1)::after
{
    position: absolute;
    content:':';
    right:-4px;
}
.dig div:nth-child(2)::after
{
    position: absolute;
    content:':';
    right:-4px;
}